.hidden{
	display: none;
}

body{
	background-color: darkslateblue;
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-top{
	background-color: darkslategray;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left:20%;
	margin-right:25%;
	border-radius: 3px;
	border: 5px  solid paleturquoise;
	padding: 40px;
}

.container{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left:12%;
	margin-right:18%;
}

.input-form{
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right:5%;
	margin-left: 3%;
	padding: 40px;
	background-color: darkslategray;
	border: 5px solid paleturquoise;
	border-radius: 3px;
}

.weekday-result{
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right:5%;
	margin-left: 3%;
	padding: 40px;
	background-color: darkslategray;
	border: 5px solid paleturquoise;
	border-radius: 3px;
	animation: fadeIn 1.8s;
}

@keyframes fadeIn{
	0% { opacity: 0; }
	100% { opacity: 1; }
}


